<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ShopCluesSuite">
<listeners>
		<listener class-name="com.qa.utility.Reporting" />
	</listeners>
  <test thread-count="5" name="Functional Testing" >
  <parameter name="browser" value="edge"></parameter>
  <parameter name="url" value="https://www.shopclues.com/"></parameter>
    <classes>
        <class name="com.qa.testscripts.TC_ValidateShopCluesFilters"/>
        <class name="com.qa.testscripts.TC_ValidateShopCluesHyperLinks"/> 
        <class name="com.qa.testscripts.TC_ValidateShopCluesLocationField"/> 
        <class name="com.qa.testscripts.TC_ValidateShopCluesSearchAndAddtoCart"/>
        <class name="com.qa.testscripts.TC_ValidateShopCluesSearch"/> 
    </classes>
  </test> <!-- Functional Testing -->
</suite> <!-- ShopCluesSuite -->
